EIO:CFG_1.0:7:0::
#
ETHERNETIP_DEVICE:

      -Name "Scalable_IO" -VendorName "ABB Robotics" -ProductName "DSQC1030"\
      -Label "ABB Scalable I/O Device" -Address "192.168.125.101" -VendorId 75\
      -ProductCode 29 -DeviceType 12 -OutputAssembly 100 -InputAssembly 101\
      -ConfigurationAssembly 102 -ConnectionPriority "SCHEDULE" -OutputSize 2\
      -InputSize 2 -ConfigurationSize 8\
      -ConfigurationData00 "01 02 09 10 01 08 10 01 00 00 00 00 00 00 00 00"\
      -O2T_RPI 40000 -T2O_RPI 40000
#
PROFINET_NETWORK:

      -Name "PROFINET" -Label "PROFINET Controller/Device Network"\
      -StationName "abbcobot"
#
PROFINET_DRIVER:

      -Name "PROFINET_COMMON_DATA"
#
PROFINET_INTERNAL_DEVICE:

      -Name "OmniCore_Internal" -OutputSize 64 -InputSize 64 -ModuleSlot1 1\
      -ModuleSlot2 2
#
EIO_SIGNAL:

      -Name "ox0_3" -SignalType "DO" -Device "OmniCore_Internal" -Label "ox_3"\
      -DeviceMap "3"

      -Name "ox0_6" -SignalType "DO" -Device "OmniCore_Internal" -DeviceMap "6"

      -Name "ox0_7" -SignalType "DO" -Device "OmniCore_Internal" -DeviceMap "7"

      -Name "ox1_6" -SignalType "DO" -Device "OmniCore_Internal" -DeviceMap "14"

      -Name "ox1_7" -SignalType "DO" -Device "OmniCore_Internal" -DeviceMap "15"

      -Name "ox2_0" -SignalType "DO" -Device "OmniCore_Internal" -DeviceMap "16"

      -Name "ox2_1" -SignalType "DO" -Device "OmniCore_Internal" -DeviceMap "17"

      -Name "ox2_2" -SignalType "DO" -Device "OmniCore_Internal" -DeviceMap "18"

      -Name "ox2_3" -SignalType "DO" -Device "OmniCore_Internal" -DeviceMap "19"

      -Name "ox2_4" -SignalType "DO" -Device "OmniCore_Internal" -DeviceMap "20"

      -Name "ox2_5" -SignalType "DO" -Device "OmniCore_Internal" -DeviceMap "21"

      -Name "ox2_6" -SignalType "DO" -Device "OmniCore_Internal" -DeviceMap "22"

      -Name "ox2_7" -SignalType "DO" -Device "OmniCore_Internal" -DeviceMap "23"

      -Name "ox3_0" -SignalType "DO" -Device "OmniCore_Internal" -DeviceMap "24"

      -Name "ox3_1" -SignalType "DO" -Device "OmniCore_Internal" -DeviceMap "25"

      -Name "ox3_2" -SignalType "DO" -Device "OmniCore_Internal" -DeviceMap "26"

      -Name "ox3_3" -SignalType "DO" -Device "OmniCore_Internal" -DeviceMap "27"

      -Name "ox3_4" -SignalType "DO" -Device "OmniCore_Internal" -DeviceMap "28"

      -Name "ox3_5" -SignalType "DO" -Device "OmniCore_Internal" -DeviceMap "29"

      -Name "ox3_6" -SignalType "DO" -Device "OmniCore_Internal" -DeviceMap "30"

      -Name "ox3_7" -SignalType "DO" -Device "OmniCore_Internal" -DeviceMap "31"

      -Name "ox4_0" -SignalType "DO" -Device "OmniCore_Internal" -DeviceMap "32"

      -Name "ox4_1" -SignalType "DO" -Device "OmniCore_Internal" -DeviceMap "33"

      -Name "ox4_2" -SignalType "DO" -Device "OmniCore_Internal" -DeviceMap "34"

      -Name "ox4_3" -SignalType "DO" -Device "OmniCore_Internal" -DeviceMap "35"

      -Name "ox4_4" -SignalType "DO" -Device "OmniCore_Internal" -DeviceMap "36"

      -Name "ox4_5" -SignalType "DO" -Device "OmniCore_Internal" -DeviceMap "37"

      -Name "ox4_6" -SignalType "DO" -Device "OmniCore_Internal" -DeviceMap "38"

      -Name "ox4_7" -SignalType "DO" -Device "OmniCore_Internal" -DeviceMap "39"

      -Name "ob36" -SignalType "AO" -Device "OmniCore_Internal"\
      -DeviceMap "288-295" -EncType "UNSIGNED"

      -Name "ob37" -SignalType "AO" -Device "OmniCore_Internal"\
      -DeviceMap "296-303" -EncType "UNSIGNED"

      -Name "ob38" -SignalType "AO" -Device "OmniCore_Internal"\
      -DeviceMap "304-311" -EncType "UNSIGNED"

      -Name "ob39" -SignalType "AO" -Device "OmniCore_Internal"\
      -DeviceMap "312-319"

      -Name "ix0_3" -SignalType "DI" -Device "OmniCore_Internal" -Label "ix0_3"\
      -DeviceMap "3"

      -Name "ix0_6" -SignalType "DI" -Device "OmniCore_Internal" -DeviceMap "6"

      -Name "ix0_7" -SignalType "DI" -Device "OmniCore_Internal" -DeviceMap "7"

      -Name "ix1_7" -SignalType "DI" -Device "OmniCore_Internal" -DeviceMap "15"

      -Name "ix2_0" -SignalType "DI" -Device "OmniCore_Internal" -DeviceMap "16"

      -Name "ix2_1" -SignalType "DI" -Device "OmniCore_Internal" -DeviceMap "17"

      -Name "ix2_2" -SignalType "DI" -Device "OmniCore_Internal" -DeviceMap "18"

      -Name "ix2_3" -SignalType "DI" -Device "OmniCore_Internal" -DeviceMap "19"

      -Name "ix2_4" -SignalType "DI" -Device "OmniCore_Internal" -DeviceMap "20"

      -Name "ix2_5" -SignalType "DI" -Device "OmniCore_Internal" -DeviceMap "21"

      -Name "ix2_6" -SignalType "DI" -Device "OmniCore_Internal" -DeviceMap "22"

      -Name "ix2_7" -SignalType "DI" -Device "OmniCore_Internal" -DeviceMap "23"

      -Name "ix3_0" -SignalType "DI" -Device "OmniCore_Internal" -DeviceMap "24"

      -Name "ix3_1" -SignalType "DI" -Device "OmniCore_Internal" -DeviceMap "25"

      -Name "ix3_2" -SignalType "DI" -Device "OmniCore_Internal" -DeviceMap "26"

      -Name "ix3_3" -SignalType "DI" -Device "OmniCore_Internal" -DeviceMap "27"

      -Name "ix3_4" -SignalType "DI" -Device "OmniCore_Internal" -DeviceMap "28"

      -Name "ix3_5" -SignalType "DI" -Device "OmniCore_Internal" -DeviceMap "29"

      -Name "ix3_6" -SignalType "DI" -Device "OmniCore_Internal" -DeviceMap "30"

      -Name "ix3_7" -SignalType "DI" -Device "OmniCore_Internal" -DeviceMap "31"

      -Name "ix4_0" -SignalType "DI" -Device "OmniCore_Internal" -DeviceMap "32"

      -Name "ix4_1" -SignalType "DI" -Device "OmniCore_Internal" -DeviceMap "33"

      -Name "ix4_2" -SignalType "DI" -Device "OmniCore_Internal" -DeviceMap "34"

      -Name "ix4_3" -SignalType "DI" -Device "OmniCore_Internal" -DeviceMap "35"

      -Name "ix4_4" -SignalType "DI" -Device "OmniCore_Internal" -DeviceMap "36"

      -Name "ix4_5" -SignalType "DI" -Device "OmniCore_Internal" -DeviceMap "37"

      -Name "ix4_6" -SignalType "DI" -Device "OmniCore_Internal" -DeviceMap "38"

      -Name "ix4_7" -SignalType "DI" -Device "OmniCore_Internal" -DeviceMap "39"

      -Name "ib38" -SignalType "AI" -Device "OmniCore_Internal" -Label "ib38"\
      -DeviceMap "304-311" -EncType "UNSIGNED"

      -Name "ib39" -SignalType "AI" -Device "OmniCore_Internal" -Label "ib39"\
      -DeviceMap "312-319" -EncType "UNSIGNED"

      -Name "ox_live_sign" -SignalType "DO" -Device "OmniCore_Internal"\
      -Label "ox0_0" -DeviceMap "0"

      -Name "ox_kupplung_oeffnen" -SignalType "DO" -Device "OmniCore_Internal"\
      -Label "ox0_1" -DeviceMap "1"

      -Name "ox_single_vac_greifer_oeffnen" -SignalType "DO"\
      -Device "OmniCore_Internal" -Label "ox0_4" -DeviceMap "4"

      -Name "ox_multi_vac_greifer_schliessen" -SignalType "DO"\
      -Device "OmniCore_Internal" -Label "ox0_5" -DeviceMap "5"

      -Name "ox_request_user_ack" -SignalType "DO" -Device "OmniCore_Internal"\
      -Label "ox1_0" -DeviceMap "8"

      -Name "ob_status" -SignalType "AO" -Device "OmniCore_Internal"\
      -Label "ob32" -DeviceMap "256-263" -EncType "UNSIGNED"

      -Name "ob_greifer_typ" -SignalType "AO" -Device "OmniCore_Internal"\
      -Label "ob33" -DeviceMap "264-271" -EncType "UNSIGNED"

      -Name "ix_live_sign" -SignalType "DI" -Device "OmniCore_Internal"\
      -Label "ix0_0" -DeviceMap "0"

      -Name "ix_kupplung_offen" -SignalType "DI" -Device "OmniCore_Internal"\
      -Label "ix0_1" -DeviceMap "1"

      -Name "ix_kupplung_geschlossen" -SignalType "DI"\
      -Device "OmniCore_Internal" -Label "ix0_2" -DeviceMap "2"

      -Name "ix_single_vac_greifer_offen" -SignalType "DI"\
      -Device "OmniCore_Internal" -Label "ix0_4" -DeviceMap "4"

      -Name "ix_multi_vac_greifer_geschlossen" -SignalType "DI"\
      -Device "OmniCore_Internal" -Label "ix0_5" -DeviceMap "5"

      -Name "ix_user_ack" -SignalType "DI" -Device "OmniCore_Internal"\
      -Label "ix1_0" -DeviceMap "8"

      -Name "ix_start_program" -SignalType "DI" -Device "OmniCore_Internal"\
      -Label "ix1_1" -DeviceMap "9"

      -Name "ox_kupplung_schliessen" -SignalType "DO"\
      -Device "OmniCore_Internal" -Label "ox0_2" -DeviceMap "2"

      -Name "ox_ack_start_program" -SignalType "DO" -Device "OmniCore_Internal"\
      -Label "ox1_1" -DeviceMap "9"

      -Name "ox_greifer_typ_setzen" -SignalType "DO" -Device "OmniCore_Internal"\
      -Label "ox1_2" -DeviceMap "10"

      -Name "ib_prog_num" -SignalType "AI" -Device "OmniCore_Internal"\
      -Label "ib32" -DeviceMap "256-263" -EncType "UNSIGNED"

      -Name "ib_greifer_typ" -SignalType "AI" -Device "OmniCore_Internal"\
      -Label "ib33" -DeviceMap "264-271" -EncType "UNSIGNED"

      -Name "ix_abort_program" -SignalType "DI" -Device "OmniCore_Internal"\
      -Label "ix1_2" -DeviceMap "10"

      -Name "ix_set_speed" -SignalType "DI" -Device "OmniCore_Internal"\
      -Label "ix1_3" -DeviceMap "11"

      -Name "ix_interrupt" -SignalType "DI" -Device "OmniCore_Internal"\
      -Label "ix1_4" -DeviceMap "12"

      -Name "ox_program_running" -SignalType "DO" -Device "OmniCore_Internal"\
      -Label "ox1_3" -DeviceMap "11"

      -Name "ox_motion_stopped" -SignalType "DO" -Device "OmniCore_Internal"\
      -Label "ox1_4" -DeviceMap "12"

      -Name "ox_robot_moving" -SignalType "DO" -Device "OmniCore_Internal"\
      -Label "ox1_5" -DeviceMap "13"

      -Name "ix_pause_motion" -SignalType "DI" -Device "OmniCore_Internal"\
      -Label "ix1_5" -DeviceMap "13"

      -Name "ix_restart_motion" -SignalType "DI" -Device "OmniCore_Internal"\
      -Label "ix1_6" -DeviceMap "14"

      -Name "ob_speed_ovrd" -SignalType "AO" -Device "OmniCore_Internal"\
      -Label "ob34" -DeviceMap "272-279" -EncType "UNSIGNED"

      -Name "ib_speed_ovrd" -SignalType "AI" -Device "OmniCore_Internal"\
      -Label "ib34" -DeviceMap "272-279" -EncType "UNSIGNED"

      -Name "ob_anweisungsnummer" -SignalType "AO" -Device "OmniCore_Internal"\
      -Label "ob35" -DeviceMap "280-287" -EncType "UNSIGNED"

      -Name "ib_Magazin_Position" -SignalType "AI" -Device "OmniCore_Internal"\
      -Label "ib35" -DeviceMap "280-287" -EncType "UNSIGNED"

      -Name "ib_Gehause_Position" -SignalType "AI" -Device "OmniCore_Internal"\
      -Label "ib36" -DeviceMap "288-295" -EncType "UNSIGNED"

      -Name "ib_Offset_Number" -SignalType "AI" -Device "OmniCore_Internal"\
      -Label "ib37" -DeviceMap "296-303" -EncType "UNSIGNED"

      -Name "Scalable_IO_0_DO1" -SignalType "DO" -Device "Scalable_IO"\
      -DeviceMap "0" -SafeLevel "SafetySafeLevel"

      -Name "Scalable_IO_0_DO2" -SignalType "DO" -Device "Scalable_IO"\
      -DeviceMap "1"

      -Name "Scalable_IO_0_DO3" -SignalType "DO" -Device "Scalable_IO"\
      -DeviceMap "2"

      -Name "Scalable_IO_0_DO4" -SignalType "DO" -Device "Scalable_IO"\
      -DeviceMap "3"

      -Name "Scalable_IO_0_DO5" -SignalType "DO" -Device "Scalable_IO"\
      -DeviceMap "4"

      -Name "Scalable_IO_0_DO6" -SignalType "DO" -Device "Scalable_IO"\
      -DeviceMap "5"

      -Name "Scalable_IO_0_DO7" -SignalType "DO" -Device "Scalable_IO"\
      -DeviceMap "6"

      -Name "Scalable_IO_0_DO8" -SignalType "DO" -Device "Scalable_IO"\
      -DeviceMap "7"

      -Name "Scalable_IO_0_DO9" -SignalType "DO" -Device "Scalable_IO"\
      -DeviceMap "8"

      -Name "Scalable_IO_0_DO10" -SignalType "DO" -Device "Scalable_IO"\
      -DeviceMap "9"

      -Name "Scalable_IO_0_DO11" -SignalType "DO" -Device "Scalable_IO"\
      -DeviceMap "10"

      -Name "Scalable_IO_0_DO12" -SignalType "DO" -Device "Scalable_IO"\
      -DeviceMap "11"

      -Name "Scalable_IO_0_DO13" -SignalType "DO" -Device "Scalable_IO"\
      -DeviceMap "12"

      -Name "Scalable_IO_0_DO14" -SignalType "DO" -Device "Scalable_IO"\
      -DeviceMap "13"

      -Name "Scalable_IO_0_DO15" -SignalType "DO" -Device "Scalable_IO"\
      -DeviceMap "14"

      -Name "Scalable_IO_0_DO16" -SignalType "DO" -Device "Scalable_IO"\
      -DeviceMap "15"

      -Name "Scalable_IO_0_DI1" -SignalType "DI" -Device "Scalable_IO"\
      -DeviceMap "0"

      -Name "Scalable_IO_0_DI2" -SignalType "DI" -Device "Scalable_IO"\
      -DeviceMap "1"

      -Name "Scalable_IO_0_DI3" -SignalType "DI" -Device "Scalable_IO"\
      -DeviceMap "2"

      -Name "Scalable_IO_0_DI4" -SignalType "DI" -Device "Scalable_IO"\
      -DeviceMap "3"

      -Name "Scalable_IO_0_DI5" -SignalType "DI" -Device "Scalable_IO"\
      -DeviceMap "4"

      -Name "Scalable_IO_0_DI6" -SignalType "DI" -Device "Scalable_IO"\
      -DeviceMap "5"

      -Name "Scalable_IO_0_DI7" -SignalType "DI" -Device "Scalable_IO"\
      -DeviceMap "6"

      -Name "Scalable_IO_0_DI8" -SignalType "DI" -Device "Scalable_IO"\
      -DeviceMap "7"

      -Name "Scalable_IO_0_DI9" -SignalType "DI" -Device "Scalable_IO"\
      -DeviceMap "8"

      -Name "Scalable_IO_0_DI10" -SignalType "DI" -Device "Scalable_IO"\
      -DeviceMap "9"

      -Name "Scalable_IO_0_DI11" -SignalType "DI" -Device "Scalable_IO"\
      -DeviceMap "10"

      -Name "Scalable_IO_0_DI12" -SignalType "DI" -Device "Scalable_IO"\
      -DeviceMap "11"

      -Name "Scalable_IO_0_DI13" -SignalType "DI" -Device "Scalable_IO"\
      -DeviceMap "12"

      -Name "Scalable_IO_0_DI14" -SignalType "DI" -Device "Scalable_IO"\
      -DeviceMap "13"

      -Name "Scalable_IO_0_DI15" -SignalType "DI" -Device "Scalable_IO"\
      -DeviceMap "14"

      -Name "Scalable_IO_0_DI16" -SignalType "DI" -Device "Scalable_IO"\
      -DeviceMap "15"

#CTRL_SIGNATURE:Z4cFhpyCtiU/SRQS/f2qCPBsckXuUQYMu6UGLcSOW5+Q7oOt1f50YvXtNmPn/jpXGxoyZvC8+PzCTDfiGviEOg==