SIO:CFG_1.0:7:0::
#
FIREWALL_MANAGEMENT:

      -Name "syslog" -EnableOnPublicNet  -EnableOnPrivateNet 

      -Name "Bonjour" -EnableOnPrivateNet 

      -Name "EtherNetIP" -EnableOnPrivateNet 

      -Name "PROFINET" -EnableOnPublicNet 

      -Name "RapidSockets" -EnableOnPublicNet  -EnableOnPrivateNet 

      -Name "RobotWebServices" -EnableOnPublicNet  -EnableOnPrivateNet 

      -Name "UDPUC" -EnableOnPrivateNet 

      -Name "Netscan" -EnableOnPublicNet  -EnableOnPrivateNet 

      -Name "ConnectedServices" -EnableOnPrivateNet 

      -Name "RobAPI" -EnableOnPublicNet  -EnableOnPrivateNet 
#
SYSLOG:

      -Name "SYSLOG"
#
IP_SETTING:

      -Name "Public Network" -PortSpeed "100"

      -Name "IO Network"
#
DNSC:

     
      -Name "DNSC"
#
UDPUC_HOST:

      -Name "UCdevice" -Type "UDPUC" -RemoteAddress "192.168.125.10"

      -Name "ROB_1" -Type "UDPUC" -RemoteAddress "192.168.125.100"\
      -RemotePortNumber 6515 -LocalPortNumber 6515

      -Name "UCstream" -Type "UDPUC" -RemoteAddress "192.168.125.10"\
      -LocalPortNumber 0
#
CSE_CONFIG:

      -Name "RSCON" -CSEID "15000-500126" -DCNotify FALSE\
      -ProxyPwd "gE3OLSUpNDCmU2T8y0FgKz7JwCgl+M/FNQl6y3BVGDIwpao6"\
      -HTTPPassword "ZfKxFTUQg2xk6s6OamgsSAfOwmHIZ14sgz4D0rqWmGzJch5G"\
      -MQTTPassword "Lz55uVxZNqmHTpcrm8w/XQd4fRsgD5mtFg4nBNjfvmyoc1r6"
#
CSGW_CELLULAR:

      -Name "CSGW" -Pin "JPLmfcaN9bxt1ysrvKdPdM0FnHyqqrL8Ia2eqqnPD6uXPDSB"\
      -Password "/3+nVNYR4Iqy+R7EBUBV3IAuQpRwfZyCvqk/F0gltf0qvcHz"
#
CSGW_WIRELESS:

      -Name "CSGW" -Key "165X/dScgd3yvMpkhrvQ1li7VMJdmVcGgzywXSp25egObhYt"
#
CSGW_WIRED:

      -Name "CSGW"

#CTRL_SIGNATURE:7vjp4hUjKQ8fMJyBiAPdSf+N5+tIYpG0WdG/NTKNytgP+L3pVM7tL97SBoMGATHyah1hZnnafgAgunN/M8I1QA==