SIO:CFG_1.0:7:0::
#
FIREWALL_MANAGEMENT:

      -Name "RapidSockets"

      -Name "RobotWebServices" -EnableOnPrivateNet 

      -Name "Netscan" -EnableOnPrivateNet 
#
SYSLOG:

      -Name "SYSLOG"
#
IP_SETTING:

      -Name "Public Network" -DHCP 
#
DNSC:

     
      -Name "DNSC"
#
CSE_CONFIG:

      -Name "RSCON" -ProxyPwd "D0FY59ay/Re0n+kzPA/Cuw7wVOpUQapXzKETwAgAp3vRkCLh"\
      -HTTPPassword "G1KWr+FO7DT/CukFqaZ9Vds2I2U+j4Kqm/MU1fD/kj1+60ek"\
      -MQTTPassword "hZNhAh3fVwIeBHFVSPOEMW7VKOLFMhqss3KB68vak4Bb7zjS"
#
CSGW_CELLULAR:

      -Name "CSGW" -Pin "q9HFNdtdPkySy9fjpYTnE0MtzLqDs97PJhVfV8Qe9RwlThtl"\
      -Password "cqPx8XXJkKZykugvPSzQaYKRmBE+U0FL1dvMs6xadW1ZqW02"
#
CSGW_WIRELESS:

      -Name "CSGW" -Key "FYnSWO/Ldn2AKp57yjLbUfT6P8sLd5zXUcvUdtwWkpu00e52"
#
CSGW_WIRED:

      -Name "CSGW"
#
UDPUC_HOST:

      -Name "UCdevice" -Type "UDPUC" -RemoteAddress "127.0.0.1"\
      -LocalPortNumber 0

      -Name "UCstream" -Type "UDPUC" -RemoteAddress "127.0.0.1"\
      -LocalPortNumber 0

#CTRL_SIGNATURE:1NmHay1Ps7u+UnbVqG6dNEwKEyg5z4gtnEffZ10t1OjV7tlkqJZQzAQJXkrZaozfZk9aqlywem8MpD4K9rIXAg==